<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <style>
    body {
      color: blue;
      font-family: 'Tangerine', serif;
      font-size: 25px;
    }
  </style>
</head>


<h1>Add your profile and start searching today!</h1>

<%= render 'form' %>

<%= link_to 'Back', moms_path %>
