<h1>Editing profile</h1>

<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <style>
    body {
      color: blue;
      font-family: 'Tangerine', serif;
      font-size: 25px;
    }
  </style>
</head>

<%= render 'form' %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
<%= link_to 'Home', moms_path %>